# Игнорируем виртуальное окружение
venv/
.env

# Игнорируем временные файлы Python
__pycache__/
*.pyc
*.pyo

# Игнорируем файлы конфигурации и токены
*.env
*.json

# Исключаем файлы аналитики (если они не нужны в репозитории)
analytics.json
detailed_analytics.json

# Исключаем базы данных (если есть)
*.sqlite3

# Исключаем логи и временные файлы
*.log
*.tmp
models/base.pt